header{
    width: 100%;
    height: 150px;
}

#headerdoboz{
    width: 1200px;
    margin: auto;
    
}

#baldoboz{
    padding: 20px;
    float: left;
}

#jobbdoboz{
    padding: 30px;
    float: right;
    font-size: 25px;
}

footer{
    width: 100%;
    height: 150px;
}

footer h5{
    width: 200px;
    margin: auto;
}

