body{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

header{
    font-weight: 700;
    width: 100%;
    height: 150px;
    background-color: #0D5D56;
    color: white;
    border-bottom: #001706 2px solid;
}

#headerdoboz{
    width: 1200px;
    margin: auto;
    padding-top: 20px;
}

#baldoboz{
    padding: 20px;
    padding-top: 25px;
    float: left;
}

h1{
    font-weight: 700;
    font-size: 50px;
    font-style: bold;
}

#jobbdoboz{
    padding: 30px;
    float: right;
    font-size: 30px;
}

footer{
    font-weight: 700;
    background-color: #0D5D56;
    color: white;
    width: 100%;
    height: 100px;
    margin-top: 0;
    border-top: #001706 2px solid;
}

footer h5{
    font-size: 15px;
    width: 200px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.container{
    background-color: #329F5B;
    color: white;
    margin-bottom: 0;
    padding-top: 10px;
    height: 700px;
}

a{
    margin-left: 10px;
    color: white;
}

a:hover{
    color: #E5C2C0;
}

a:checked{
    color: #E5C2C0;
}

.htmlszoveg{
    margin-bottom: 0;
    padding: 35px;
    font-size: 18px;
}

h3{
    font-weight: 700;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 0;
}

#htmllogo{
    padding-top: 20px;
    width: 200px;
}

#csslogo{
    width: 150px;
}

#vsclogo{
    margin-top: 20px;
    background-color: white;
    width: 420px;
    border: #001706 2px solid;
}

#mvc{
    width: 600px;
}

#cssoldalnovelo{
    height: 750px;
}

#mvcoldalnovelo{
    height: 1000px;
}